@import './ress.css'; // 样式重置
@import './beautify.scss'; // 鼠标美化
@import './custom.scss'; // 自定义样式类

// 美化滚动条
::-webkit-scrollbar-track {
  background   : rgba(0, 0, 0, 0.1);
  border-radius: 0;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width             : 6px;
  height            : 6px;
}

::-webkit-scrollbar-thumb {
  cursor       : pointer;
  border-radius: 5px;
  background   : rgba(0, 0, 0, 0.15);
  transition   : color 0.2s ease;
}